@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700')
@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')

@font-face 
  font-family: "San Francisco"
  font-weight: 400
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff")


@function calculateRem($size) 
  $remSize: $size / 16px
  @return $remSize * 1rem

@mixin font-size($size) 
  font-size: $size
  font-size: calculateRem($size)

$main-font: 'Lato', sans-serif
$sub-font: 'Roboto', sans-serif
$special-font: 'Ubuntu', sans-serif

body
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  font: -apple-system-body
  font: -apple-system-headline
  font: -apple-system-subheadline
  font: -apple-system-caption1
  font: -apple-system-caption2
  font: -apple-system-footnote
  font: -apple-system-short-body
  font: -apple-system-short-headline
  font: -apple-system-short-subheadline
  font: -apple-system-short-caption1
  font: -apple-system-short-footnote
  font: -apple-system-tall-body

