body
  height: 100vh

.background
  background: linear-gradient(-45deg, #37ecba 0%, #72afd3 100%) no-repeat
  width: 100%
  display: -webkit-box
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  display: flex
  -webkit-flex-align: center
  -ms-flex-align: center
  -webkit-align-items: center
  align-items: center


.container
  position: relative
  background: #fff
  margin: 0 auto
  width: 85%
  height: 85%
  border-radius: 5px
  overflow-y: scroll


.main__container
  margin: 0 auto

@media screen and (max-width: 375px)
  .main__container
    margin: 0 auto
    width: 100%


.main__cover__container
  width: 100%
  height: 30vh
  margin: 1.5rem auto
  background: $sub-gradient