.header__container
  max-width: $mq-desktop
  height: 2.5rem
  background-color: #EFEFEF
  padding: 1.25rem 0
  margin: 0 auto
  // position: absolute
  // opacity: 0.8
  z-index: 4


.header__menu__container
  float: left
  margin-left: 1rem
  padding: 0.5rem
  height: 1.5rem
  z-index: 3
  color: #aaa
  position: absolute

.menu-icon
  line-height: 1.75rem
  cursor: pointer
   

.header__logo__continaer
  padding: 0.5rem
  margin-left: 3rem
  height: 1.5rem
  line-height: 1.5rem
  display: inline-block
  

.header__logo__link
  text-decoration: none
  color: $sub-color
.header__logo__text
  font-size: 1.5rem
  font-weight: 400
  line-height: 2rem
  font-family: "San Francisco", sans-serif
