.header__search__container
  float: right
  padding: 0.5rem
  height: 1.5rem
  margin-right: 3rem

.header__search-bar
  width: 250px
  font-size: 1.5rem
  border: 0
  border-bottom: 1.5px solid #181818
  background-color: #efefef
  outline: none

@media screen and (max-width: 768px)
  .header__search-bar
    width: 100px
    display: none

.header__search-button
  background: 0
  border: 0

.header__search__result__wrap
  width: 300px
  height: 100%
  float: right
  background-color: #f0f
  z-index: 10
  position: relative
  display: block

.header__search__result
  width: 300px
  height: 100px
  margin-bottom: 2rem
  padding: 1rem
  background-color: #0ff

.header__search__poster
  width: 75px
  height: auto
  display: inline-block

.header__search__title
  display: inline-block


.header__search__details-btn
  padding: 0.5rem 1rem
  background-color: #0f0