.header__search__container
  float: right
  padding: 0.5rem
  height: 1.5rem
  margin-right: 3rem

.header__search-bar
  width: 350px
  font-size: 1.5rem
  border: 0
  border-bottom: 1.5px solid #181818
  background-color: #efefef
  outline: none

@media screen and (max-width: 768px)
  .header__search-bar
    width: 100px
    display: none

.header__search-button
  background: 0
  border: 0

.header__search__result__wrap
  display: none
  position: absolute
  width: 350px
  height: 502px
  top: 58px
  right: 98px
  background-color: #efefef
  opacity: 0.75
  z-index: 10
  overflow: scroll



.header__search__result
  display: block
  margin-bottom: 1rem
  &:nth-child(1)
    margin-top: 1.5rem
  &:hover
    background-color: $main-color


.header__search__image
  padding: 0.5rem
  display: inline-block
  width: 15%
  vertical-align: middle

.header__search__link
  text-decoration: none
  color: $sub-color
  &:active
    color: $main-color


.header__search__title
  display: inline-block
  margin: 0.5rem
  width: 50%
  font-size: 0.9rem
  word-wrap: break-word


.header__search__year
  font-size: 0.75rem
  color: #aaa